:root {
  --tracker-helper-white: #ffffff;
  --tracker-helper-zinc-100: #f4f4f5;
  --tracker-helper-zinc-300: #d4d4d8;
  --tracker-helper-zinc-500: #71717a;
  --tracker-helper-zinc-800: #27272a;
  --tracker-helper-green-200: #bbf7d0;
  --tracker-helper-green-700: #15803d;
  --tracker-helper-green-800: #166534;
  --tracker-helper-red-700: #b91c1c;
  --tracker-helper-blue-700: #1d4ed8;
  --tracker-helper-border-radius-lg: 0.5rem;
  --tracker-helper-font-weight-semibold: 600;
  --tracker-helper-font-size-sm: 0.875rem;
  --tracker-helper-font-size-xs: 0.75rem;
}

.tracker-helper {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 100%;
  max-width: 400px;
  background: var(--tracker-helper-white);
  border-radius: var(--tracker-helper-border-radius-lg);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-family:
    Inter,
    -apple-system,
    "system-ui",
    "San Francisco",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: var(--tracker-helper-font-size-sm);
  line-height: 1.25rem;
  color: var(--tracker-helper-zinc-800);
  display: flex;
  flex-direction: column;
  line-height: 1;
  max-height: 90vh;
}

.tracker-helper__header {
  background: var(--tracker-helper-zinc-100);
  border-bottom: 1px solid var(--tracker-helper-zinc-300);
  border-top-left-radius: var(--tracker-helper-border-radius-lg);
  border-top-right-radius: var(--tracker-helper-border-radius-lg);
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tracker-helper__drag-handle {
  width: 20px;
  cursor: grab;
  display: block;
  color: var(--tracker-helper-zinc-500);
}

.tracker-helper__title {
  flex: 1;
  font-weight: var(--tracker-helper-font-weight-semibold);
}

.tracker-helper__close-btn {
  all: unset;
  cursor: pointer;
  color: var(--tracker-helper-zinc-500);
}

.tracker-helper__close-btn svg {
  width: 20px;
  display: block;
}

.tracker-helper__content {
  flex: 1;
  padding: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.tracker-helper__connection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tracker-helper__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracker-helper__summary > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tracker-helper__summary > button {
  all: unset;
  cursor: pointer;
  color: var(--tracker-helper-blue-700);
}

.tracker-helper__summary > button:hover {
  text-decoration: underline;
}

.tracker-helper__badge {
  padding: 3px 8px;
  border-radius: 10px;
  background: var(--tracker-helper-zinc-100);
  font-size: var(--tracker-helper-font-size-xs);
  line-height: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tracker-helper__badge::before {
  content: "";
  border-radius: 100%;
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid var(--tracker-helper-zinc-500);
}

.tracker-helper__badge--success {
  color: var(--tracker-helper-green-800);
  background: var(--tracker-helper-green-200);
}

.tracker-helper__badge--success::before {
  background: var(--tracker-helper-green-700);
  border-color: var(--tracker-helper-green-700);
}

.tracker-helper__badge--no-dot::before {
  display: none;
}

.tracker-helper__events {
  margin: 0;
  padding: 0;
  gap: 4px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.tracker-helper__event {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tracker-helper__event-button {
  all: unset;
  gap: 8px;
  display: flex;
  align-items: center;
  min-height: 20px;
  cursor: pointer;
  width: 100%;
  padding: 3px 0;
  border-radius: 6px;
}

.tracker-helper__event-button:hover {
  background: var(--tracker-helper-zinc-100);
}

.tracker-helper__event-button::before {
  content: "";
  border-radius: 100%;
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid var(--tracker-helper-zinc-500);
}

.tracker-helper__event-button--emitted::before {
  background: var(--tracker-helper-green-700);
  border-color: var(--tracker-helper-green-700);
}

.tracker-helper__muted {
  color: var(--tracker-helper-zinc-500);
}

.tracker-helper__warning {
  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--tracker-helper-red-700);
  font-size: var(--tracker-helper-font-size-xs);
  font-weight: 500;
}

.tracker-helper__warning svg {
  width: 20px;
  color: var(--tracker-helper-red-700);
}

.tracker-helper__event-json {
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid var(--tracker-helper-zinc-300);
}

.tracker-helper__event-json pre {
  width: 100%;
  overflow: scroll;
  font-family: monospace;
  line-height: 1.3;
  font-size: var(--tracker-helper-font-size-xs);
}
