.tracker-debugger {
  background: #022c22;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 100%;
  max-width: 600px;
  font-family: monospace;
  color: white;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.tracker-debugger__header {
  background: #059669;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracker-debugger__section {
  padding: 20px 15px;
  overflow-y: scroll;
}

.tracker-debugger p {
  margin: 0;
}

.tracker-debugger ol {
  margin: 0;
  padding: 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.tracker-debugger ol li {
  gap: 15px;
  display: flex;
  align-items: center;
}

.tracker-debugger ol li span {
  display: block;
}

.tracker-debugger__warn {
}
